/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* Coolors Exported Palette - coolors.co/505a70-64758e-cc4949-3c3b3d-9cd8ce */

// $color1: #505a70; //rgba(80, 90, 112, 100)
// $color2: #64758e; //rgba(100, 117, 142, 100)
// $color3: #cc4949; //rgba(204, 73, 73, 100)
// $color4: #3c3b3d; //rgba(60, 59, 61, 100)
// $color5: #9cd8ce; //rgba(156, 216, 206, 100)

// https://coolors.co/app/000000-191919-ffbf1e-eaeaea-dd4b4b
$color2: #000000; //rgba(0, 0, 0, 100)
$color4: #191919; //rgba(25, 25, 25, 100)
$color5: #ffbf1e; //rgba(255, 191, 30, 100)
$color1: #eaeaea; //rgba(234, 234, 234, 100)
$color3: #dd4b4b; //rgba(221, 75, 75, 100)


// Global
$padding-size: 5px;
$margin-size: 10px;

// Header
$header-height: 75px;
$header-text-color: $color1;

// Content

// Sidebar
$sidebar-content-width: 200px;

// Footer
$footer-height: 30px;

// Chat
// Chat Text Colours
$chat-line-system-color: #0f0;
$chat-line-entry-color: yellow;
$chat-line-exit-color: #888;
$chat-line-message-color: white;
$chat-line-nick-color: peachpuff;
$chat-info-selected-bgc: rgba(0,0,0,0.5);
$chat-line-message-link-color: #00e0ff;
$chat-line-message-link-hover-color: #80ffff;
$chat-line-timestamp-color: #ccc;



//$sidebar-bg: rgba(30, 28, 30.5, 1);
$sidebar-bg: $color4;
//$card-bg: rgba(30, 28, 30.5, 1);
$card-bg: $color4;
$sidebar-bg-solid: $color4;
