/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

// Global
$padding-size: 5px;
$margin-size: 10px;

// Header
$header-height: 75px;
$header-text-color: white;

// Content

// Sidebar
$sidebar-content-width: 200px;

// Footer
$footer-height: 30px;

// Chat
// Chat Text Colours
$chat-line-system-color: #0f0;
$chat-line-entry-color: yellow;
$chat-line-exit-color: #888;
$chat-line-message-color: white;
$chat-line-nick-color: peachpuff;
$chat-info-selected-bgc: rgba(0,0,0,0.5);
$chat-line-message-link-color: #00e0ff;
$chat-line-message-link-hover-color: #80ffff;
