/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#Header {
  display: flex;
  padding: $padding-size;
}

.nav-wrap {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

#Header .nav {
  display: flex;
  flex: 1;
  margin-bottom: -($padding-size);
  justify-content: flex-end;
  line-height: none;
  list-style: none;
  
  .nav-item {
    padding: 0 1em;
    height: 45px;
    line-height: 35px;
    min-width: 100px;
    text-align: center;
    color: $header-text-color;
    cursor: pointer;
    
    &:hover {
      background: radial-gradient(ellipse at bottom center, rgba(122, 63, 0, 1.0) 5px, rgba(122, 63, 0, 0.6), rgba(0,0,0,0.0) 75%);
    }
    
    .tiny {
      position: relative;
      top: 2px;
    }
  }

}
