/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

body {
  background: url(../images/test-bg.png) no-repeat;
  background-size: cover;
}

#Header {
  flex: 0 1 $header-height - $padding-size * 2;
  padding: $padding-size;
  background: linear-gradient(rgba(0,0,0, 0.6) 7%, rgba(0,0,0,0.1) 100%);
  
  &::before {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    background-size: cover;
    backdrop-filter: blur(5px);
  }
}

#Header ul {
  margin: 30px 0px 0px 0px;
  padding: 0;
  list-style: none;
  float: right;
}

#Header ul li {
  padding: .2em 1em;
  display: inline;
  color: $header-text-color;
  cursor: pointer;
}
