/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.login-status-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20
}

.login-modal {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  position: absolute;
  background: $color4;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -25px;
  z-index: 21;
  line-height: initial;
  color: white;
  text-align: center;
  .progress {
    width: 100px;
  }
  
  .authenticating {
    color: white;
    animation: pulse 2s linear infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .failed {
    color: $color3;
  }
  
  .success {
    color: $color5;
  }
}