/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#cse-patcher-news {
  overflow-y: auto;
}

.cse-patcher-news-item {
  //width: 300px;
  margin: 10px;
  height: 300px;
  background-color: $color4;
  overflow: hidden;
  text-align: left;
  
  .card-title {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  
  .card-reveal {
    background-color: $color4;
  }
}
