/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#Sidebar {
  position: absolute;
  top: $header-height + $margin-size;
  left: $margin-size * 2;
  width: 350px;
}

#Sidebar .content {
  width: $sidebar-content-width;
  margin: $margin-size;
}

.loginbox {
  padding: 10px;
}

.btn-flat {
  color: #9B9B9B;
}